################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab_1/.vs/Lab_1.slnx/v18
/Lab_1/x64/Debug
/Lab_1/.vs/Lab_1.slnx/FileContentIndex
/Lab_1/.vs/Lab_1/CopilotIndices/18.10.1181.45497
*.json
*.filters
*.slnx
/Lab_1/.vs
/Lab_1/.gitignore
*.vcxproj
/Lab_2/main/x64/Debug
/Lab_2/x64/Debug
/Lab_2
